@using MarkdownViewer.Services
@model IReadOnlyList<FileNode>

@foreach (var node in Model)
{
    if (node.IsDirectory)
    {
        <li class="tree-dir">
            <span>📁 @node.Name</span>
            @if (node.Children.Any())
            {
                <ul>
                    @await Html.PartialAsync("_FileTree", node.Children)
                </ul>
            }
        </li>
    }
    else
    {
        <li class="tree-file">
            <a href="/View?path=@Uri.EscapeDataString(node.RelativePath)">📄 @node.Name</a>
        </li>
    }
}
